@font-face {
    font-family: 'Roboto-Light'; 
    src: url('Roboto-Light.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium'; 
    src: url('Montserrat-Medium.ttf');
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto-Light';
    text-shadow:  2px 8px 16px rgba(0,0,0,0.2);
}

h1 {
    font-size: 70px;
    font-family: 'Montserrat-Medium';
}

h2 {
    font-size: 50px;
    font-family: 'Montserrat-Medium';
}

h3 {
    font-size: 25px;
    font-family: 'Montserrat-Medium';
}

p{
    font-size: 20px;
    letter-spacing: 1px;
}

ol, li, ul{
    font-size: 20px;
}

.viz-container{
    height: 500px;
    overflow: visible;
    margin: 75px auto;
    width: 50%;
}

.graph, #scatter-plot, #stacked-bar{
    height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.5s all ease-in-out;
}

.graph:hover, #scatter-plot:hover, #stacked-bar:hover{
    transform: scale(1.1);
}

#pie-charts .viz-container {
    height: 600px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
}

#pie-charts .viz-container .graph{
    width: 450px;
}

.intro {
    text-align: center;
    margin-bottom: 100px;
    padding: 300px 0px;
    background-image: url(img/soccer_fans.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255);
    font-weight:550;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.4s all ease-in-out;
    overflow: hidden;
}

.intro:hover {
    transform: scale(1.03);
}

.intro h1{
    letter-spacing: 7px;
}

.intro h2{
    letter-spacing: 2px;
}

.anchor {
    position: absolute;
    margin: -150px;
}

.about_us {
    margin: 0px auto 100px;
    background-color: #658a158e;
    padding: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 75px;
    min-width: 600px;
    max-width: 1200px;
    height: auto;
}

.about_us .about-us-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-width: 400px;
    max-width: 1200px;
}

.about_us .description {
    font-weight: 500;
    max-width: 600px;
    min-width: 300px;
    flex: 1 1 45%;
    margin: auto 0px;
    margin-right: 15px;
}

.about_us h3 {
    margin-left: 30px;
}

.about_us .img-container {
    width: 60%;
    max-width: 600px;
    min-width: 300px;
    flex: 1 1 45%;
    height: auto;
    margin: auto 0px;
    margin-left: 15px;
}

.about_us .img-container a {
    color: black;
    text-decoration: none;
}

.about_us .img-container a:hover {
    color: rgb(68, 68, 68);
}

.about_us .img-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 25px;
}


.match-overview {
    margin: 0px auto 100px;
    padding: 30px 40px;
    background-color: #3a158a98;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 75px;
    min-width: 1100px;
    max-width: 1600px;
}

.match-overview .match-overview-content{
    margin: 75px;
}

.match-overview h3{
    margin-left: 50px;
}

.match-overview .viz-container{
    width:1000px;
    height: 900px;
    margin-top: 40px;
}

.match-overview .viz-container .graph{
    width:1000px;
    height: 900px;
}

.radar_chart {
    margin: 0px auto 100px;
    padding: 30px 40px;
    background-color: #658a158e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 75px;
    min-width: 1100px;
    max-width: 1600px;
}

.radar_chart .radar_chart_content{
    margin: 75px;
}

.radar_chart h3{
    margin-left: 50px;
}

.radar_chart .viz-container{
    width:800px;
    height: 700px;
    margin-top: 40px;
}

.radar_chart .viz-container .graph{
    width:800px;
    height: 650px;
}

.weather_performance {
    margin: 0px auto 100px;
    padding: 30px 40px;
    background-color: #3a158a98;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 75px;
    min-width: 1100px;
    max-width: 1600px;
    height: 1400px;
}

.weather_performance .weather_performance_content{
    margin: 75px;
}

.weather_performance h3{
    margin-left: 50px;
}

.weather_performance .viz-container{
    width:800px;
    height: 700px;
    margin-top: 40px;
}

.weather_performance .viz-container .graph{
    width:800px;
    height: 650px;
}

.peformance_metrics {
    margin: 0px auto 100px;
    background-color: #658a158e;
    padding: 30px 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 75px;
    min-width: 1100px;
    max-width: 1600px;
    height: auto;
}

.peformance_metrics h3{
    margin-left: 50px;
}

.peformance_metrics .performance-metrics-content {
    margin: 75px;
}

.peformance_metrics .description {
    font-weight: 500;
    margin: auto 0px;
    margin-right: 15px;
}

.peformance_metrics .viz-container {
    width: 1000px;
}

.peformance_metrics .viz-container .graph {
    width: 1000px;
}

.foot_analysis {
    margin: 0px auto 100px;
    background-color: #3a158a98;
    padding: 30px 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 75px;
    min-width: 1100px;
    max-width: 1600px;
    height: auto;
}

.foot_analysis h3{
    margin-left: 50px;
}

.foot_analysis .foot-analysis-content {
    margin: 75px;
}

.foot_analysis .description {
    font-weight: 500;
    margin: auto 0px;
    margin-right: 15px;
}

.foot_analysis .viz-container {
    width: 1000px;
}

.foot_analysis .viz-container .graph {
    width: 1000px;
}

.stats_role {
    margin: 0px auto 100px;
    background-color: #658a158e;
    padding: 30px 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 75px;
    min-width: 1100px;
    max-width: 1600px;
    height: auto;
}

.stats_role h3{
    margin-left: 50px;
}

.stats_role .stats_role_content {
    margin: 75px;
}

.stats_role .description {
    font-weight: 500;
    margin: auto 0px;
    margin-right: 15px;
}

.stats_role .viz-container {
    width: 1000px;
}

.stats_role .viz-container .graph {
    width: 1000px;
}

.tackles_bar {
    margin: 0px auto 100px;
    background-color: #3a158a98;
    padding: 30px 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 75px;
    min-width: 1000px;
    max-width: 1600px;
    height: auto;
}

.tackles_bar h3{
    margin-left: 50px;
}

.tackles_bar .tackles_bar_content {
    height: auto;
    margin: 75px auto;
    min-width: 1000px;
    max-width: 1200px;
}

.tackles_bar .description {
    font-weight: 500;
    margin: auto 0px;
    margin-right: 15px;
}

.tackles_bar .viz-container {
    width: 1000px;
}

.tackles_bar .viz-container .graph {
    width: 1000px;
}