.viz-container{
    height: 800px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.graph {
    height: 800px;
}

#pie-charts .graph {
    height: 300px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}