body{
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 35px;
}

p{
    font-size: 20px;
}

ol{
    font-size: 20px;
}

.viz-container{
    height: 800px;
    width: 1000px;
}

.graph {
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#pie-charts .viz-container {
    height: 600px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
    padding: 0px;
}

#pie-charts .viz-container .graph{
    width: 450px;
}

.intro {
    text-align: center;
    padding: 200px 0px;
    background-image: url(img/soccer_fans.jpg);
    background-position: center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.863);
    font-weight:550;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.4s all ease-in-out;
    overflow: hidden;
}

.intro:hover {
    transform: scale(1.03);
}

.intro h2{
    letter-spacing: 10px;
}

.intro h1{
    letter-spacing: 3px;
}


.anchor {
    position: absolute;
    margin: -150px;
}

.about_us{
    background-color: #658a158e;
    padding: 100px;
    display: flex;
    vertical-align: top;
    margin: 10px 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.about_us p{
    font-size: 35px;
    font-weight:500;
    padding: 50px 0px;
    padding-right: 20px;
    max-width: 800px;
    min-width: 500px;
}

.about_us .img-container{
    width: 800px;
    padding-left: 30px;
    margin: 35px 0px;
    
}

.about_us .img-container a{
    color: black;
    text-decoration: none;
}

.about_us .img-container a:hover{
    color: rgb(68, 68, 68);
}

.about_us .img-container img{
    width: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.match-overview {
    padding: 30px 40px;
    background-color: #3a158a98;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.match-overview .viz-container{
    display: flex;
    width: 1800px;
}

#scatter-plot{
    left:0;
    width: 900px;
}

#stacked-bar{
    right:0;
    width: 900px;
}

.radar-chart-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-color: rgba(184, 222, 245, 0.6);
}

.radar-chart {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.radar-chart-explanation {
    flex: 0 0 30%;
    padding: 10px;
}

.radar-chart-container {
    flex: 0 0 70%;
    padding: 10px;
}

#first-team-dropdown, #second-team-dropdown {
    margin-bottom: 10px;
}

